<app-header></app-header>
<main class="container-max-w-120rem">
  <h1 class="m-0 pt-5 px-3">Create your project</h1>

  <section class="my-5 px-3">
    <h2>Basic informations</h2>

    <form
      [formGroup]="createProjectForm"
      (ngSubmit)="onSubmit()"
      class="flex align-content-center flex-wrap justify-content-between gap-5"
    >
      <app-field-input
        [fieldId]="'name'"
        formControlName="name"
        [fieldLabel]="'name'"
        [fieldInputHelp]="'The name of your project'"
        [formControlField]="createProjectForm.get('name')"
      ></app-field-input>
      <app-field-textarea
        [fieldId]="'description'"
        formControlName="description"
        [fieldLabel]="'description'"
        [fieldInputHelp]="'The description of your project'"
      ></app-field-textarea>
      <app-field-calendar
        [fieldId]="'starts_at'"
        formControlName="starts_at"
        [fieldLabel]="'starts at'"
        [fieldInputHelp]="'The starts at of your project'"
      ></app-field-calendar>
      <app-field-calendar
        [fieldId]="'ends_at'"
        formControlName="ends_at"
        [fieldLabel]="'ends at'"
        [fieldInputHelp]="'The ends at of your project'"
      ></app-field-calendar>
      <app-button
        [isDisabled]="createProjectForm.invalid"
        class="w-full mt-5"
        [type]="'submit'"
        [label]="'create project here'"
        [icon]="PrimeIcons.PLUS"
      ></app-button>
      <app-button
        class="w-full"
        [type]="'button'"
        [label]="'clear form'"
        [icon]="PrimeIcons.TRASH"
        [isOutlined]="true"
        (click)="createProjectForm.reset()"
        (keydown.enter)="createProjectForm.reset()"
      ></app-button>
    </form>
  </section>
</main>
<app-footer></app-footer>
