<p-card>
  <ng-template pTemplate="title">
    <div class="flex align-content-center gap-2 mb-2">
      @for (icon of icons(); track $index) { @if (icon.label) {
      <div class="flex align-content-center gap-2">
        <i [class]="icon.class"></i>
        <span class="text-base">{{ icon.label }}</span>
      </div>
      } }
    </div>
    <h5 class="m-0 mb-1">{{ title() }}</h5>
  </ng-template>
  <p class="m-0">{{ description() }}</p>
  <ng-template pTemplate="footer">
    <div class="mt-1">
      <p-button
        label="view"
        class="w-full"
        styleClass="w-full"
        (click)="handleClickButton()"
        (keydown.enter)="handleClickButton()"
      />
    </div>
  </ng-template>
</p-card>
